.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(77, 102, 132);
}

.logo a{
    text-decoration: none;
    color: #ccc;
}
.logo a:hover{ color: #fff; }