nav.nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #3D3D3D;
}

.nav li{
    padding: 10px;
    margin-bottom: 50px;
}

.nav a{
    font-size: 48px;
    font-weight: 700;
    text-decoration: none;
    color: #ccc;
}
.nav a:hover{ color: #fff;}