header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1eded;
}

.header{
    flex-grow: 10;
}

.header ul{ 
    list-style: none; 
    display: flex;
    float: right;
    margin: 5% 12%;
}

.header li {
    margin: 0px 30px;
}

.header a {
    text-decoration: none;
    color: #353232;
    font-size: 24px;
    font-weight: 500;
}
.header a:hover{
    color: #000;
}